ABOUT-NLS
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
configure
depcomp
gtick-*.tar.gz
install-sh
intl
m4
missing
stamp-h1
tags
ylwrap
*~
